<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Url Shortener</title>
</head>
<body>
    <div class="container">
        <div class="box">
            <div class="title">
                <h1>It's simple: Paste n'go!</h1>
            </div>
            <div class="urlPlace">
                <form action="/shortUrls" method="POST" class="form">
                    <div class="urlInput">
                        <label for="fullUrl">Paste Here</label>
                        <input type="url" name="fullUrl" id="urlReq">
                        <button type="submit" class="button">GET!</button>
                    </div>
                </form>
                <div class="urlOutput">
                    <label for="urlRes">Take Here</label>
                    <input type="url" name="shortUrl" class="shortUrl" value="localhost:5000/{{shortUrls[shortUrls.length - 1].short}}" class="output" id="urlRes">
                    <button type="submit" class="button copy">COPY</button>
                </div>
                <p class="copied hidden">Copied!</p>
            </div>
        </div>
    </div>
</body>

<script src="/scripts.js"></script>
